.landingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--pale-periwinkle-primary);
  padding: 2em;
  height: 100vh;
  text-align: center;
}
