.createUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25em;
  background-color: var(--pale-periwinkle-primary);
  min-height: 100vh;
  padding: 2em;

  h1 {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerWrapper,
  .inputWrapper {
    display: flex;
    flex-direction: column;
  }

  .innerWrapper {
    gap: 1em;
  }

  a {
    color: var(--cool-lavender-primary);
  }
}
