.header {
  background-color: var(--pale-periwinkle-primary);
  border-bottom: 1px solid var(--cool-lavender-primary);
  color: var(--dark-blue-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 0.5em 0.625em 1.5em;
  position: relative;
}
