.taskForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1em;
  background-color: #f6f8f9;
  padding: 1em;
}

.taskForm > select {
  padding: 0.6em 1em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.taskForm > button {
  height: 100%;
}

.taskInput {
  flex: 1;
  padding: 0.6em 1em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: inherit;
}
