:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Primary Colors */
  --white: #fff;
  --black: #000;

  --dark-blue-primary: #1d2145;
  --cool-lavender-primary: #7886c7;
  --pastel-periwinkle-primary: #a9b5df;
  --pale-periwinkle-primary: #ebedf7;
  --snow-white-primary: #f9f9f9;

  /* Secondary Colors */
  --success: #78c778;
  --info: #78a9c7;
  --warning: #dfcb8a;
  --danger: #c77879;

  /* Font Sizes */
  --default-font-size: 1em;

  /* Minimum Touch Target Size */
  --minimum-touch-target: 44px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

body > div {
  height: 100vh;
  width: 100vw;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
